body{
display: grid;
grid-template-areas: 
"hd hd hd"
"mn mn mn"
"ft ft ft"
}
.el{
    background-color: rebeccapurple;
    color:white;
    display: grid;
    place-content: center;
}
.header{
    grid-area: hd;
}
.footer{
    grid-area: ft;
}
.main-container{
    grid-area: mn;
    display: grid;
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  grid-template-columns: auto auto auto;

  background-color: dodgerblue;
  padding: 10px;
}

.main-container div{
    color: white;
    border: 1px solid;
    background-color: black;
    font-size: 50px;
    padding: 10px;
}
