@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}
/* 
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
} */

/* main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */

/* div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
  perspective: 800px;
}  */
/* div:first-child{
  background-color: dodgerblue; 
}
  div:first-child:hover{
    transition: transform 1s ease; */
 
   /* transform:translateY(-30%);  */
     /* transform: rotate3d(1, 1, 1, 60deg);   */
      /* transform: scaleX(180%);  */
      /* perspective: 300px; */
/* } */
 
/* div:nth-child(2) {
  background-color: yellow;  */
   /* transform: translateY(-2rem);  */
/* } */
/* 
 div:last-child {
  background-color: limegreen; 
   transform: translate(100%, -2rem); 
}

 div:hover{
  background-color:midnightblue;
  transition-property: background-color, transform ;
  transition-duration: 2s, 0.8s;
}
div:last-child:hover{
  transform: rotate(180deg); 
} */
/* .animate{
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-delay: 1s;
  animation-fill-mode:both; */

/* @keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(600px) rotate(180deg);
  }
   66% {
    transform: translateX(-600px) rotate(-180deg);
  } 
  100% {
    transform: translateX(0);
    background-color: rebeccapurple;
  }
} */
  /* body{
  background-color: rgba(0, 0, 0, 0.521);
 }

 .header-title-line{
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
 }
 .menu-button{
  position:relative;
  height:48px;
  width:48px;
  border:none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items:center;   
  
 }
 .menu-icon,
 .menu-icon::before,
 .menu-icon::after{
  position:absolute;
  background-color: whitesmoke;
  height:5px;
  width:40px;
  border-radius: 5px;
  transition:all 0.5s;
 }
 .menu-icon::before, .menu-icon::after{
  content:"";
 }
 .menu-icon::before{
  top: -10px;
  transform:translateX(-20px, -12px);

 }
 .menu-icon::after{
  top: 10px;
  transform:translate(-20px, 12px);
 }  */
   header{
    background-color: rgba(0, 0, 0, 0.459);
   }
.header-title-line{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:center;
}
.menu-button{

  border:none;
  width:40px;
  height:auto;
  display: flex;
  position:relative;
}
.menu-icon, .menu-icon::before, .menu-icon::after{
  position: absolute;
  width:40px;
  height:5px;
  border-radius: 5px;
  background-color: whitesmoke;
  transition: all 0.5s;
  
}
.menu-icon::before, .menu-icon::after{
  content:"";
}
.menu-icon::before{
  transform:translate(-20px, -12px);
}
.menu-icon::after{
  transform:translate(-20px, 12px);
}
:is(header:hover, header:focus-within) .menu-icon{
  background-color: transparent;
}
:is(header:hover, header:focus-within) .menu-icon::before{
  transform: translateX(-20px) rotate(45deg);

}
:is(header:hover, header:focus-within) .menu-icon::after{
  transform: translateX(-20px) rotate(-45deg);
}
:is(header:hover, header:focus-within) nav{
  display: block;
}

nav{
  display: none;
  transform-origin: top center;
  animation:showmenu 0.5s ease-in-out forwards;
}
@keyframes showmenu {
  0%{
    transform: scale(0);
  }
  80%{
    transform: scaleY(1.2);
  }
  100%{
    transform:scalex(1);
  }
}
nav ul{
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
}
nav li{
 padding: 0.5rem;
 list-style-type: none;
 border-top: 1px solid whitesmoke;
}
nav :any-link{
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}
nav a:hover, nav a:focus{ 
  transform: scale(1.2);
  transition: all 0.3s;
}
.hero{
  position: relative;
}
.hero__1{
  border-color: green;
  position:absolute;
  top:40px;
  right:-400px;
  animation: showmenuu 0.5s ease-in-out 1s forwards;
}
@keyframes showmenuu {
  0%{
    right:-395px;
    transform: skew(0deg, -5deg) scaleY(0);
  }
  80%{
    right:45px;
    transform: skew(10deg, -5deg) scaleY(1.2);
  }
  100%{
    right: 40px;
    transform: skew(-10deg, -5deg) scaleY(1);
  }
}